.App-header {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-input {
  width: 582px !important;
  height: 50px !important;
  font-size: 20px !important;
}

.autocomplete-icon {
  margin-right: 20px;
  color: #b9b4b4;
}
